#navbar
{
	overflow: hidden;
    background-color: #591527;
    position: static;
		top: 0;
    width: 100%;
    margin-bottom: 10px;
}
#navbar a:hover 
{
    background-color: #34051D;
}
#navbar a 
{
	float: left;
	color: #FFFFFF;
	text-align: center;
	display: block;
	padding: 18px;
	text-decoration: none;
	font-family: monospace;
	font-size: 22px;
}