#profile
{
	background-color: #242842;
	color: #FFFFFF;
}
#welcome
{
	float: left;
}
#pfp
{
	float: right;
}
#navbar
{
		overflow: hidden;
    background-color: #591527;
    position: fixed;
		top: 0;
    width: 100%;
}
#navbar a:hover 
{
    background-color: #34051D;
}
#navbar a 
{
	float: left;
	color: #FFFFFF;
	text-align: center;
	display: block;
	padding: 18px;
	text-decoration: none;
	font-family: monospace;
	font-size: 22px;
}
#eduXP
{
	overflow: auto;
	width: 100%;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 50px;
	margin-left: 20px;
}
#eduXP h3
{
	margin-bottom: 15px;
	font: bold 29px monospace; 
}
#eduXP p
{
	font: 20px monospace;	
}
#eduXP figure
{
	float: left;
	font: bold 15px Monaco;
}